<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Microblog - All Posts</title>
    <link rel="stylesheet" href="/CSS/style.css">
</head>
<body>
    <div class="container">
        <h1 class="title">The Urban Jungle Diaries</h1>
        <h3>"Nurturing green spaces, one leaf at a time"</h3>
        <a href="/posts/new">Create New Post</a>
        <ul>
            <% posts.forEach(post => { %>
                <li>
                    <h2><%= post.title %></h2>
                    <p><%= post.content %></p>
                    <form action="/posts/<%= post.id %>/delete" method="POST">
                        <button type="submit">Delete</button>
                    </form>
                </li>
            <% }) %>
        </ul>
    </div>
</body>
</html>